*{
    background-color: black;
    font-family: 'papyrus';
}
.privacy-heading {
    font-family: 'papyrus';
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 10px;
}

.paragraph{
	margin: 3em;
	text-indent: 1.2em;

}